:root{
    --primary-color:rgba(164, 92, 64, 1);
    --secondary-color :rgba(185, 92, 80, 1);
    --coral-color:rgba(222, 132, 125, 1);
    --neutral-white-color:rgba(255, 255, 255, 1);
    --neutra-black-color:background: rgba(0, 0, 0, 1);
}
